SistemaHorasConsulta/SistemaHorasConsulta/Web References/wsEmail/Email.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Enviar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuerpo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="prioridad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarSinAut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="de" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuerpo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="prioridad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarSinAutResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarConAdjuntos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuerpo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="prioridad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccionAdjunto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarConAdjuntosResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarConAdjuntosVarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuerpo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="prioridad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccionAdjunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adjunto1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adjunto2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adjunto3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adjunto4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adjunto5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarConAdjuntosVariosResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarSoapIn">
    <wsdl:part name="parameters" element="tns:Enviar" />
  </wsdl:message>
  <wsdl:message name="EnviarSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarSinAutSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarSinAut" />
  </wsdl:message>
  <wsdl:message name="EnviarSinAutSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarSinAutResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarConAdjuntosSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarConAdjuntos" />
  </wsdl:message>
  <wsdl:message name="EnviarConAdjuntosSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarConAdjuntosResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarConAdjuntosVariosSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarConAdjuntosVarios" />
  </wsdl:message>
  <wsdl:message name="EnviarConAdjuntosVariosSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarConAdjuntosVariosResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailSoap">
    <wsdl:operation name="Enviar">
      <wsdl:input message="tns:EnviarSoapIn" />
      <wsdl:output message="tns:EnviarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSinAut">
      <wsdl:input message="tns:EnviarSinAutSoapIn" />
      <wsdl:output message="tns:EnviarSinAutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarConAdjuntos">
      <wsdl:input message="tns:EnviarConAdjuntosSoapIn" />
      <wsdl:output message="tns:EnviarConAdjuntosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarConAdjuntosVarios">
      <wsdl:input message="tns:EnviarConAdjuntosVariosSoapIn" />
      <wsdl:output message="tns:EnviarConAdjuntosVariosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailSoap" type="tns:EmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar">
      <soap:operation soapAction="http://tempuri.org/Enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSinAut">
      <soap:operation soapAction="http://tempuri.org/EnviarSinAut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarConAdjuntos">
      <soap:operation soapAction="http://tempuri.org/EnviarConAdjuntos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarConAdjuntosVarios">
      <soap:operation soapAction="http://tempuri.org/EnviarConAdjuntosVarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailSoap12" type="tns:EmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar">
      <soap12:operation soapAction="http://tempuri.org/Enviar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSinAut">
      <soap12:operation soapAction="http://tempuri.org/EnviarSinAut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarConAdjuntos">
      <soap12:operation soapAction="http://tempuri.org/EnviarConAdjuntos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarConAdjuntosVarios">
      <soap12:operation soapAction="http://tempuri.org/EnviarConAdjuntosVarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Email">
    <wsdl:port name="EmailSoap" binding="tns:EmailSoap">
      <soap:address location="http://tec-apps/wsEmail/Email.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailSoap12" binding="tns:EmailSoap12">
      <soap12:address location="http://tec-apps/wsEmail/Email.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>