SistemaHorasConsulta/Datos/Web References/wsFotosEstudiantes/wsutilitarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CargarFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psCarne" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarFotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarFotoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarFotoSoapIn">
    <wsdl:part name="parameters" element="tns:CargarFoto" />
  </wsdl:message>
  <wsdl:message name="CargarFotoSoapOut">
    <wsdl:part name="parameters" element="tns:CargarFotoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUtilitariosSoap">
    <wsdl:operation name="CargarFoto">
      <wsdl:input message="tns:CargarFotoSoapIn" />
      <wsdl:output message="tns:CargarFotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUtilitariosSoap" type="tns:wsUtilitariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarFoto">
      <soap:operation soapAction="http://tempuri.org/CargarFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUtilitariosSoap12" type="tns:wsUtilitariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarFoto">
      <soap12:operation soapAction="http://tempuri.org/CargarFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUtilitarios">
    <wsdl:port name="wsUtilitariosSoap" binding="tns:wsUtilitariosSoap">
      <soap:address location="http://tec-apps/utilitarios/wsutilitarios.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUtilitariosSoap12" binding="tns:wsUtilitariosSoap12">
      <soap12:address location="http://tec-apps/utilitarios/wsutilitarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>